# create a ".config.env" file. 
# the content should contain the following

DATABASE_URI = 'postgresql://username:password@localhost:5432/trivia'
TEST_DATABASE_URI = 'postgresql://username:password@localhost:5432/trivia_test'